/**********  Fonts  **********/
$font-primary:      'Akshar',sans-serif;
$font-secondary:    'Inder', sans-serif;
$font-size-default: 18px;

/********* Colors ***********/
$primary:         #FFFFFF;
$secondary:       #B81C1C;
$bg:              #343232;

/********  Breakpoints ******/
$lg: 1440px;
$md: 768px;
$sm: 376px;






